.main-body{
	margin: 0 50px;
	padding: 0;
	font-size: 20px;
	font-family: "Times New Roman";
	background-color: limegreen;
}

.blankBox:before{
	margin-top: 50px;
	content: "";
	display: block;
	width:100%;
	height: 5px;
	background-color: #141414;
}

.navBar h1{
	font-size: 40px;
	margin-bottom: 0;
	text-shadow: 1px 1px #FF0000;
}

/*drop down*/
.navBar ul{
	margin-top: 0;
	float: right;
}

.navBar ul li {
	list-style: none;
	display: inline-block;
	line-height: 50px;
}

.navBar ul li a {
	font-size: 35px;
	padding: 0 20px;
	text-decoration: none;
	color: black;
	position: relative;
}

.navBar ul li a:hover{
	text-shadow: 0 0 3px #FF0000;
	/*color: red;*/
}

.navBar ul li ul {
	display: none;
	position: absolute;
	background-color: green;
	padding: 10px;
	border-radius: 0px 0px 4px 4px;
}

.navBar ul li:hover ul {
	display: block;
	
}

.navBar ul li ul li {
	display: grid;
	width: auto;
	border-radius: 4px;
}

.navBar ul li ul li a {
	padding: 8px 14px;
	font-size: 18px;
}

.navBar ul li ul li a:hover{
	background-color: lightgreen;
}

/*drop down ended*/

.home{
	text-align: center;
}

.home h1{
	margin-top: 160px;
	text-shadow: 2px 2px #FF0000;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;

	/*background-color: DodgerBlue;*/
}

.flex-container > div {
	/*background-color: #f1f1f1;*/
	width: 450px; /*auto*/
	margin: 10px;
	text-align: center;
	font-size: 30px;
}


.flex-container > div a img {
	width: auto;
	height: 400px;
}

.flex-container > div h3{
	font-size: 26px;
	text-shadow: 2px 2px #FF0000;
}

.footerDiv table tr td a{
	text-decoration: none;
	color: black;
	font-size: 1.5vw;
}

.footerDiv table tr td a:hover{
	color: white;
}


/*image hover effect*/
/*
.container {
	position: relative;
	width: 100%;
}

.overlay {
	padding: 0 50px;
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: green;
	opacity: 0.7;
	overflow: hidden;
	width: auto;
	height:0;
	transition: .5s ease;
}

.container:hover .overlay {
	bottom: 0;
	height: 100%;
}

.text {
	color: black;
	font-weight: bold;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
*/
/*imamge hover effect ended*/


/*Responsive design*/
.navBar .mainNav ul li a{
	font-size: 2vw;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.flex-container > div a img {
		width: auto;
		height: 300px;
	}

	.flex-container > div h3{
		font-size: 14px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.mainNav ul {
		display: none;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.flex-container > div a img {
		width: auto;
		height: 400px;
	}
	.main-body{
		margin: 0 10px;

		/*background-color: DodgerBlue;*/
	}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.main-body{
		margin: 0 20px;
	}

	.flex-container > div a img {
		width: 200px;
		height: 250px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
